<%- include('partials/header') %> 

<div class="jumbotron">
    <h1 class="display-4">OOps 404</h1>
    <p class="lead">Someting went wrong...</p>
    <hr class="my-4">
    <p>Try going back</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/home" role="button">Learn more</a>
    </p>
  </div>

<%- include('partials/footer') %> 