@import url(https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap%27);
.foot{
    display: block;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}
.parent{
    display: flex;
}
.card{

    width: 80%;
    margin: 1rem;
}

footer{
    clear: both;
    position: relative;
    height: 30px;
    margin-top: 20px;
    background: skyblue;
}

.img_parent{
    display: flex;
}

.img_{
    size: 50px;

    margin: 1rem;
}

.nav_parent{
    display: flex;
}
.cropped {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    object-position: 20% 10%; 
    border: 2x solid black;
}
.info{
    margin: 2rem;
}